/.idea
/.vscode
/.spyproject
/data
.data
/beratools/gui/icons/grass
/beratools/__pycache__
/beratools/tools/__pycache__
/beratools/gui/__pycache__
*.pyc
*.whl
/dist
.project
.pydevproject
BERATools.bat
/output
.env

# pixi environments
.pixi
*.egg-info
pixi.lock
