# appliedgrg::beratools
appliedgrg::bera_centerlines
appliedgrg::pyqtlet2
dask
dask-expr
distributed
fiona
gdal=3.9.3
geopandas
pip
pyogrio>=0.9.0
psutil
pyqt
rioxarray
rpy2
r-essentials
r-lidr
r-rcsf
r-rlas
r-sf
r-sp
r-terra
scikit-image>=0.24.0
tqdm
xarray-spatial

pyyaml
pytorch
tqdm
transformers


# recommended way to install BERA Tools
# > conda create -n bera -c conda-forge -c appliedgrg python=3.11 mamba --override-channels
# > conda activate bera
# > conda config --set channel_priority strict
# > mamba install --file conda_requirements.txt
#
# check channels in use
# > conda config --get channels
# Example output:
#   --add channels 'conda-forge'   # lowest priority
#   --add channels 'appliedgrg'   # highest priority
#
# set environment variable
# GDAL_DATA : CONDA_ENV_PATH\Library\share\gdal
#
# update BERATools.bat accordingly
# > conda activate bera
# > BERATools.bat
#
################################################
# pip build only
# backend: mamba install hatch
# front end: pip install build
# PyPI upload: mamba install twine
