appliedgrg::label_centerlines
appliedgrg::laserchicken
dask
distributed
geopandas
huggingface_hub
matplotlib
pip
pyogrio
psutil
pyqt
ray-default
rioxarray
rpy2
r-essentials
r-lidr
r-rcsf
r-rlas
r-sf
r-sp
r-terra
scikit-image
sphinx-tabs
sphinx-rtd-theme
xarray-spatial

# recommended way to install BERA Tools
# > conda create -n bera -c conda-forge -c appliedgrg python=3.11 mamba
# > conda activate bera
# > conda config --set channel_priority strict
# > mamba install --file requirements.txt
# set environment variable
# GDAL_DATA : CONDA_ENV_PATH\Library\share\gdal
#
# conda build onlu
# mamba install hatch
# pip install build