python=3.9
alphashape
geopandas
huggingface_hub
matplotlib
pip
pyogrio
psutil
pyqt
rioxarray
rpy2
r-essentials
r-lidr
r-terra
scikit-image
sphinx-tabs
sphinx-rtd-theme
torchvision
xarray-spatial

# conda install mamba -n base -c conda-forge -y
# conda update conda -y
# conda update --all
# mamba create -n bera-39 -c conda-forge python=3.9 mamba geopandas huggingface_hub matplotlib pip pyogrio psutil pyqt
# rioxarray rpy2 r-lidr r-terra scikit-image sphinx-tabs sphinx-rtd-theme torchvision xarray-spatial -y
