python=3.10
fiona > 1.9.2
geopandas
leafmap
mamba
matplotlib
numba
numpy
Pillow
pip
psutil
pyqt
pyqtlet2
rasterio
rioxarray
rpy2
r-base
r-essentials
r-lidr
r-terra
scikit-image
scipy
setuptools
shapely
sphinx
sphinx-tabs
sphinx-rtd-theme
spyder
xarray
xarray-spatial

